/* le metenos una sombra */
/* tambien le metemos una cierta opacidad */
.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.5;
}
/* cambiamos el color de los items */
.navbar .nav-item .nav-link {
  color: red;
}
/* metemos la imagen que tendra el fondo */
/* metemos un efecto */
/* background-size:cover cubrimos toda la imagen de la pagina */
.main-header {
  position: relative;
  background: url(../img/background.jpg);
  background-size: cover;
  min-height 700px;
}
/*el color por encima del background*/
/*el ultimo te da la transparencia que necesites*/
/*ajustamos el tamaño que necesitamos*/ 
.background-overlay {
  background: rgba(48, 51, 107,.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*a los botones y formulario le quitamos los bordes redondeados*/ 
.form-control, .btn{
  border-radius: 0;
}
/*le damos un color de fondo */
.team, footer {
  background: #30336b;
}
